.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: 20%;
}

.left {
    flex: 40%;
    padding: 10px;
}

.right {
    flex: 60%;
    padding: 10px;
    position: relative;
}
